.single-cell {
    -fx-border-color: black;
    -fx-padding: 3px;
}

.background-cell {
    -fx-background-color: white;
}

.single-cell:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 5, 0.5, 0, 0);
}

#selected-cell {
    -fx-border-color: #de00fd;
    -fx-border-width: 2px;
    -fx-background-color: #de00fd;
}

.single-cell.depends-on-cell {
    -fx-effect: dropshadow(gaussian, rgb(16, 191, 191), 2, 0.5, 0, 0);
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-color: rgb(16, 191, 191);
}

.single-cell.influence-on-cell {
    -fx-effect: dropshadow(gaussian, rgba(79, 239, 74, 0.78), 2, 0.5, 0, 0);
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-color: rgba(79, 239, 74, 0.78);
}